<h1>l337 Phrase Translator</h1>

<h3>Please input the word:</h3>
  <form action="<%= translate_path %>" method="GET">
    <input type="text" id="word" name="word" placeholder="Your word">
    <input type="submit" value="L337 IT!">
  </form>
